{{!-- this will have a page that can be used for admins and users --}}
{{!-- edit their profile information --}}
{{!-- iterate and create a table blank, once the table loads, go through jQuery (ajax) through the day with a get request on that day --}}
<div class="container">


	<div class="row">
		<div class="col-sm-12">
			{{!-- {{#each User}} --}}
			<h1>Hello {userName}</h1>
			<h2>Select a tee time</h2>
			{{!-- {{/each}} --}}
		</div>
	</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Time</th>
		      <th scope="col">Player 1</th>
		      <th scope="col">Player 2</th>
		      <th scope="col">Player 3</th>
		      <th scope="col">Player 4</th>
		    </tr>
		  </thead>
		  <tbody>

		  	{{#each time}}
		  	{{#if this.isOpen}}
		    	<tr scope="row">
		    		<td>
		    			{{this.openTime}}
		    		</td>
		    		<td>
		    			{{this.player1}}
		    		</td>
		    		<td>
		    			{{this.player2}}
		    		</td>
		    		<td>
		    			{{this.player3}}
		    		</td>
		    		<td>
		    			{{this.player4}}
		    		</td>	
		    		<td>
		    			{{!-- I have to get an index from handlebars to this form.  That will store the date and time on the click --}}
			    		<span class="input-group-btn">
							<button id="submit" class="btn btn-primary" data-id="{{tirID}}" type="submit">Form
							</button>
			    		</span>
		    		</td>
		    	</tr>	
		    {{/if}}
		    {{/each}}

		  </tbody>
		</table>
	</div>
</div>

<br>
<br>

{{!-- module that appears when the button "form" has been selected --}}
<div class="row">
	<div id="form" class="col-sm-12">
	{{!-- bootstrap radio button --}}
	  <div class="ui-dialog-titlebar">
		How many players?
	  </div>
		<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="player1" value="option1"> 1
  			</label>
		</div>
		<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="player2" value="option2"> 2
  			</label>
		</div>
		<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="player3" value="option3"> 3
  			</label>
		</div>
		<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="player3" value="option3"> 4
  			</label>
		</div>

			  <button id="players" class="btn btn-primary" type="submit">Submit</button>
		    </div>
	</div>
</div>
    

</div>



